<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ömankö</title>
    <link rel="stylesheet" href="main.css">

</head>
<body>

    <div class="bg">

        <div class="overlay">
            <div class="container">
                <p class="text"></p>

                <hr class="divider">

                <div class="header">
                    <img src="img/logo-white.svg" class="logo-white">

                    <h1 id="paper"></h1>
                </div>

            </div>
        </div>
    </div>

</body>
</html>