
@font-face {
    font-family: HelveticaNeueBold;
    src: url(../HelveticaNeueBold.ttf);
}


body {
    width: 1080px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.25);
    margin: 0;
    padding: 0;
}

.bg {
    /* The image used */
    /* Full height */
    /*width: 100%*/
    height: 100%;

    /* Center and scale the image nicely */
    background: url("img/image-2.png");
    background-size: cover;
    object-fit: contain;
    position:relative
}

.overlay {
    width: 100%;
    height: 100%;
    /*opacity: 0.3;*/
    /*background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);*/
    background-color: rgba(0, 0, 0, 0.25);
    /*text-align: center;*/
    position: absolute;
    bottom: 0;
}

.container {
    padding: 36px 60px 0px 60px;
}
.header {
    display: inline-block;
    width: 100%;

}

.text {
    margin: 0;
    width: 954px;
    height: 300px;
    font-family: HelveticaNeueBold;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: -0.2px;
    color: #ffffff;
}

.divider {
    margin: 33px 0 20px 0;
    /*width: 944px;*/
    /*padding: 0;*/
    /*margin: 0;*/
    height: 6px;

    background-color: #ffffff;
}

.logo-white {
    width: 160px;
    height: 34px;
    object-fit: contain;
    float: left;
}

#paper {
    margin: 0;
    float: right;

    width: 512px;
    height: 48px;
    font-family: HelveticaNeueBold;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: right;
    color: #ffffff;
}
